In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
 # Artificial Neural Network


# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [7]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [8]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [9]:
## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [10]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [11]:

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
7389,667,34,5,0.00,2,1,0,163830.64,0,1,0
9275,427,42,1,75681.52,1,1,1,57098.00,1,0,1
2995,535,29,2,112367.34,1,1,0,185630.76,0,0,0
5316,654,40,5,105683.63,1,1,0,173617.09,0,1,1
356,850,57,8,126776.30,2,1,1,132298.49,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9225,594,32,4,120074.97,2,1,1,162961.79,1,0,0
4859,794,22,4,114440.24,1,1,1,107753.07,0,1,0
3264,738,35,5,161274.05,2,1,0,181429.87,0,0,1
9845,590,38,9,0.00,2,1,1,148750.16,0,1,0
2732,623,48,1,108076.33,1,1,0,118855.26,1,0,0

In [13]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [19]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer= 'he_uniform',activation='relu',input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu'))
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer  = 'glorot_uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, epochs = 100)

# list all data in history

Epoch 1/100
536/536 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7960 - val_loss: 0.5217 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5047 - accuracy: 0.7966 - val_loss: 0.4966 - val_accuracy: 0.7963
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4815 - accuracy: 0.8007 - val_loss: 0.4811 - val_accuracy: 0.7978
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4659 - accuracy: 0.8061 - val_loss: 0.4717 - val_accuracy: 0.8031
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4549 - accuracy: 0.8072 - val_loss: 0.4647 - val_accuracy: 0.8023
Epoch 6/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4470 - accuracy: 0.8102 - val_loss: 0.4602 - val_accuracy: 0.8020
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4412 - accuracy: 0.8130 - val_loss: 0.4567 - val_accuracy: 0.8020
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4369 - accuracy: 0.8136 - val_loss: 0.4543 - val_accuracy: 0.8001
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4339 - accuracy: 0.8138 - val_loss: 0.4523 - val_accuracy: 0.8023
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4313 - accuracy: 0.8136 - val_loss: 0.4504 - val_accuracy: 0.8035
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4293 - accuracy: 0.8156 - val_loss: 0.4490 - val_accuracy: 0.8046
Epoch 12/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4274 - accuracy: 0.8160 - val_loss: 0.4477 - val_accuracy: 0.8058
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4259 - accuracy: 0.8173 - val_loss: 0.4467 - val_accuracy: 0.8065
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4245 - accuracy: 0.8175 - val_loss: 0.4455 - val_accuracy: 0.8065
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.8173 - val_loss: 0.4445 - val_accuracy: 0.8061
Epoch 16/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4219 - accuracy: 0.8184 - val_loss: 0.4433 - val_accuracy: 0.8058
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4208 - accuracy: 0.8184 - val_loss: 0.4426 - val_accuracy: 0.8061
Epoch 18/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4199 - accuracy: 0.8209 - val_loss: 0.4415 - val_accuracy: 0.8061
Epoch 19/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4190 - accuracy: 0.8210 - val_loss: 0.4406 - val_accuracy: 0.8084
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4180 - accuracy: 0.8205 - val_loss: 0.4398 - val_accuracy: 0.8080
Epoch 21/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4173 - accuracy: 0.8222 - val_loss: 0.4391 - val_accuracy: 0.8076
Epoch 22/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4165 - accuracy: 0.8218 - val_loss: 0.4382 - val_accuracy: 0.8080
Epoch 23/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4158 - accuracy: 0.8229 - val_loss: 0.4376 - val_accuracy: 0.8080
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4151 - accuracy: 0.8248 - val_loss: 0.4372 - val_accuracy: 0.8088
Epoch 25/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4143 - accuracy: 0.8244 - val_loss: 0.4364 - val_accuracy: 0.8092
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4137 - accuracy: 0.8237 - val_loss: 0.4356 - val_accuracy: 0.8099
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4130 - accuracy: 0.8253 - val_loss: 0.4350 - val_accuracy: 0.8107
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4124 - accuracy: 0.8255 - val_loss: 0.4345 - val_accuracy: 0.8111
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8263 - val_loss: 0.4337 - val_accuracy: 0.8122
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.8270 - val_loss: 0.4331 - val_accuracy: 0.8111
Epoch 31/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4107 - accuracy: 0.8263 - val_loss: 0.4326 - val_accuracy: 0.8118
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8263 - val_loss: 0.4322 - val_accuracy: 0.8126
Epoch 33/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4092 - accuracy: 0.8274 - val_loss: 0.4317 - val_accuracy: 0.8095
Epoch 34/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4084 - accuracy: 0.8265 - val_loss: 0.4309 - val_accuracy: 0.8129
Epoch 35/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4079 - accuracy: 0.8291 - val_loss: 0.4305 - val_accuracy: 0.8111
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8296 - val_loss: 0.4300 - val_accuracy: 0.8126
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4066 - accuracy: 0.8289 - val_loss: 0.4292 - val_accuracy: 0.8141
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8294 - val_loss: 0.4286 - val_accuracy: 0.8156
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4053 - accuracy: 0.8309 - val_loss: 0.4282 - val_accuracy: 0.8148
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4048 - accuracy: 0.8302 - val_loss: 0.4275 - val_accuracy: 0.8164
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4041 - accuracy: 0.8319 - val_loss: 0.4270 - val_accuracy: 0.8171
Epoch 42/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4037 - accuracy: 0.8311 - val_loss: 0.4265 - val_accuracy: 0.8183
Epoch 43/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8321 - val_loss: 0.4260 - val_accuracy: 0.8190
Epoch 44/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4025 - accuracy: 0.8322 - val_loss: 0.4253 - val_accuracy: 0.8186
Epoch 45/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4018 - accuracy: 0.8319 - val_loss: 0.4247 - val_accuracy: 0.8194
Epoch 46/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8330 - val_loss: 0.4239 - val_accuracy: 0.8190
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4003 - accuracy: 0.8332 - val_loss: 0.4234 - val_accuracy: 0.8190
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3995 - accuracy: 0.8345 - val_loss: 0.4226 - val_accuracy: 0.8209
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3990 - accuracy: 0.8352 - val_loss: 0.4218 - val_accuracy: 0.8205
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3981 - accuracy: 0.8362 - val_loss: 0.4210 - val_accuracy: 0.8194
Epoch 51/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3973 - accuracy: 0.8349 - val_loss: 0.4204 - val_accuracy: 0.8190
Epoch 52/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3965 - accuracy: 0.8350 - val_loss: 0.4194 - val_accuracy: 0.8190
Epoch 53/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3957 - accuracy: 0.8365 - val_loss: 0.4190 - val_accuracy: 0.8190
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3949 - accuracy: 0.8382 - val_loss: 0.4182 - val_accuracy: 0.8198
Epoch 55/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3941 - accuracy: 0.8367 - val_loss: 0.4175 - val_accuracy: 0.8209
Epoch 56/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3933 - accuracy: 0.8386 - val_loss: 0.4170 - val_accuracy: 0.8224
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3922 - accuracy: 0.8386 - val_loss: 0.4165 - val_accuracy: 0.8247

Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3914 - accuracy: 0.8401 - val_loss: 0.4157 - val_accuracy: 0.8247
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3904 - accuracy: 0.8395 - val_loss: 0.4148 - val_accuracy: 0.8251
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3896 - accuracy: 0.8408 - val_loss: 0.4141 - val_accuracy: 0.8251
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3886 - accuracy: 0.8412 - val_loss: 0.4132 - val_accuracy: 0.8266
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3877 - accuracy: 0.8408 - val_loss: 0.4123 - val_accuracy: 0.8258
Epoch 63/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3867 - accuracy: 0.8418 - val_loss: 0.4118 - val_accuracy: 0.8266
Epoch 64/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3857 - accuracy: 0.8412 - val_loss: 0.4104 - val_accuracy: 0.8270
Epoch 65/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3845 - accuracy: 0.8406 - val_loss: 0.4092 - val_accuracy: 0.8277
Epoch 66/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3834 - accuracy: 0.8418 - val_loss: 0.4083 - val_accuracy: 0.8289
Epoch 67/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3823 - accuracy: 0.8416 - val_loss: 0.4072 - val_accuracy: 0.8289
Epoch 68/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3810 - accuracy: 0.8433 - val_loss: 0.4057 - val_accuracy: 0.8296
Epoch 69/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3798 - accuracy: 0.8442 - val_loss: 0.4047 - val_accuracy: 0.8304
Epoch 70/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3783 - accuracy: 0.8444 - val_loss: 0.4029 - val_accuracy: 0.8304
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3769 - accuracy: 0.8464 - val_loss: 0.4016 - val_accuracy: 0.8307
Epoch 72/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3757 - accuracy: 0.8475 - val_loss: 0.4001 - val_accuracy: 0.8311
Epoch 73/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3742 - accuracy: 0.8477 - val_loss: 0.3980 - val_accuracy: 0.8304
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3727 - accuracy: 0.8489 - val_loss: 0.3969 - val_accuracy: 0.8334
Epoch 75/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3713 - accuracy: 0.8494 - val_loss: 0.3950 - val_accuracy: 0.8319
Epoch 76/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3698 - accuracy: 0.8502 - val_loss: 0.3933 - val_accuracy: 0.8330
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3684 - accuracy: 0.8505 - val_loss: 0.3916 - val_accuracy: 0.8349
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3666 - accuracy: 0.8520 - val_loss: 0.3901 - val_accuracy: 0.8360
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3649 - accuracy: 0.8511 - val_loss: 0.3883 - val_accuracy: 0.8368
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3633 - accuracy: 0.8531 - val_loss: 0.3866 - val_accuracy: 0.8364
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3619 - accuracy: 0.8543 - val_loss: 0.3853 - val_accuracy: 0.8379
Epoch 82/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3604 - accuracy: 0.8522 - val_loss: 0.3840 - val_accuracy: 0.8395
Epoch 83/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3589 - accuracy: 0.8520 - val_loss: 0.3830 - val_accuracy: 0.8383
Epoch 84/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3578 - accuracy: 0.8530 - val_loss: 0.3818 - val_accuracy: 0.8395
Epoch 85/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3568 - accuracy: 0.8522 - val_loss: 0.3806 - val_accuracy: 0.8410
Epoch 86/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3557 - accuracy: 0.8528 - val_loss: 0.3795 - val_accuracy: 0.8425
Epoch 87/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3544 - accuracy: 0.8541 - val_loss: 0.3788 - val_accuracy: 0.8425
Epoch 88/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3536 - accuracy: 0.8545 - val_loss: 0.3780 - val_accuracy: 0.8421
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3527 - accuracy: 0.8550 - val_loss: 0.3773 - val_accuracy: 0.8429
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3518 - accuracy: 0.8548 - val_loss: 0.3765 - val_accuracy: 0.8429
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3509 - accuracy: 0.8543 - val_loss: 0.3758 - val_accuracy: 0.8440
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3501 - accuracy: 0.8571 - val_loss: 0.3751 - val_accuracy: 0.8455
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3494 - accuracy: 0.8571 - val_loss: 0.3745 - val_accuracy: 0.8478
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3485 - accuracy: 0.8582 - val_loss: 0.3740 - val_accuracy: 0.8463
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3477 - accuracy: 0.8572 - val_loss: 0.3736 - val_accuracy: 0.8482
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8580 - val_loss: 0.3727 - val_accuracy: 0.8463
Epoch 97/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3462 - accuracy: 0.8600 - val_loss: 0.3723 - val_accuracy: 0.8463
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8586 - val_loss: 0.3717 - val_accuracy: 0.8463
Epoch 99/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3449 - accuracy: 0.8584 - val_loss: 0.3713 - val_accuracy: 0.8466
Epoch 100/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3444 - accuracy: 0.8591 - val_loss: 0.3709 - val_accuracy: 0.8459

In [ ]:
classifier = Sequential()
classifier.add(Dense(units = 6, kernel_initializer= 'he_uniform',activation='relu',input_dim = 11))
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu'))
classifier.add(Dense(units = 1, kernel_initializer  = 'glorot_uniform', activation = 'sigmoid'))

In [20]:
print(model_history.history.keys())

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [22]:
print(classifier.summary())

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 6)                 72

 dense_7 (Dense)             (None, 6)                 42

 dense_8 (Dense)             (None, 1)                 7

=================================================================
Total params: 121 (484.00 Byte)
Trainable params: 121 (484.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
None

In [23]:
print(model_history.history.keys())
# summarize history for accuracy
plt.plot(model_history.history['acc'])
plt.plot(model_history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

# summarize history for loss
plt.plot(model_history.history['loss'])
plt.plot(model_history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

KeyError: 'acc'

In [24]:

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)

63/63 [==============================] - 0s 766us/step

In [25]:

y_pred = (y_pred > 0.5)

In [27]:


# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Calculate the Accuracy

from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [28]:
score

0.8595

In [29]:
cm

array([[1519,   76],
       [ 205,  200]], dtype=int64)